/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/python-poster-mockup.iml
/photos/test_template1.jpg
/photos/test_template2.jpg
/.idea/vcs.xml
